= form_for @guest do |f|
  - if @guest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guest.errors.count, "error")} prohibited this guest from being saved:"
      %ul
        - @guest.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :first_name
    = f.text_field :first_name, autofocus: true
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :food_preference
    = f.select :food_preference, User.food_preferences.keys, { include_hidden: false, include_blank: 'None' }, id: 'restriction'
  .field{id: 'allergy'}
    = f.label :allergy do
      Food Allergies or Restrictions
    = f.text_area :allergy
  .field.switch.large
    = f.label :below_drinking_age
    = f.check_box :below_drinking_age, class: 'hide'
    %label.switch-paddle{for: 'guest_below_drinking_age'}
      %span.switch-active{'aria-hidden' => 'true'} Yes
      %span.switch-inactive{'aria-hidden' => 'true'} No
  .actions
    = f.submit 'Save', class: 'button success float-left'
