%h3 Summary

%table
  %thead
    %tr
      %th Signups
      %th RSVPs
      %th Hotel Rooms
      %th Non-Drinkers

  %tbody
    %tr
      %td= @guests.count + User.count
      %td= User.where(rsvp: true).count
      %td= User.hotel_rooms
      %td= Guest.below_drinking_age

%h3 Guest List
%table
  %thead
    %tr
      %th Name
      %th Food Preference
      %th Allergy
      %th Actions

  %tbody
    - @guests.each do |guest|
      %tr
        %td= link_to guest.name, guest_path(guest)
        %td= guest.food_preference
        %td= guest.allergy
        %td.actions
          %ul
            %li
              = link_to edit_guest_path(guest), class: 'button warning' do
                %i.fa.fa-pencil-square-o
            %li
              = link_to guest, class: 'button alert', method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash

= link_to 'New Guest', new_guest_path, class: 'button'

%h3 User List

%table
  %thead
    %tr
      %th Name
      %th Role
      %th Hotel
      %th Hotel Rooms
      %th RSVP
      %th Allowed Guests
      %th Actions

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.role
        %td= user.hotel
        %td= user.try(:hotel_rooms) || 0
        %td
          %ul
            %li
              - if user.try(:rsvp)
                %i.fa.fa-check
              - else
                %i.fa.fa-times
        %td= user.allowed_guests
        %td.actions
          %ul
            %li
              = link_to edit_user_path(user), class: 'button warning' do
                %i.fa.fa-pencil-square-o
            %li
              = link_to user_registration(user.id), class: 'button alert', method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash

