- if resource.can_invite_guest? && !resource.has_guests?
  .success#error_explanation
    .row
      .large-10.small-12.columns
        - if notice
          %b#notice= notice
        = "Add all guests that are in your party who are attending so we can account for plates, inluding significant others and children."
        = "An RSVP for the user means all guests are attending."
      .large-2.small-12.columns
        = link_to 'New Guest', new_guest_path, class: 'pull-right button success large'

- if resource.guests.any?
  %h2 Guests
  %table
    %thead
      %tr
        %th First name
        %th Last name
        %th Food Preference
        %th Food Allergies or Restrictions
        %th Drinking Age
        %th Actions

    %tbody
      - resource.guests.each do |guest|
        %tr
          %td= guest.first_name
          %td= guest.last_name
          %td= guest.food_preference || 'None'
          %td= guest.allergy.present? ? guest.allergy : 'None'
          %td
            - if !guest.below_drinking_age
              %i.fa.fa-check
            - else
              %i.fa.fa-times
          %td.actions
            %ul
              %li
                = link_to edit_guest_path(guest), class: 'button warning' do
                  %i.fa.fa-pencil-square-o
              %li
                = link_to guest, class: 'button alert', method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash

%h2 Edit Profile
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'custom' }) do |f|
  = devise_error_messages!
  = render partial: 'shared/user_form', locals: {form: f}
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .fieldset
    .row
      .large-6.small-12.columns
        = f.label :hotel
        = f.select :hotel, User.hotels.keys, { include_hidden: false, include_blank: 'None' }
      .large-6.small-12.columns
        = f.label :hotel_rooms do
          %span.has-tip{'aria-haspopup' => 'true', 'data-tooltip' => '', title: 'Indicate the number of hotel rooms for your party'}
            Rooms
        = f.number_field :hotel_rooms, min: 0, max: 5
  .large-6.small-12.columns
    .field
      = f.label :food_preference
      = f.select :food_preference, User.food_preferences.keys, { include_hidden: false, include_blank: 'None' }
  .large-6.small-12.columns
    .field{id: 'allergy'}
      = f.label :allergy do
        Food Allergies or Restrictions
      = f.text_area :allergy
  - if current_user.admin?
    .field
      = f.label :invite_code do
        Invite Code<small> *<small>
      = f.select :invite_code, InviteCode.all.map(&:value), { include_hidden: false }
  .actions
    = f.submit 'Update', class: 'button'

%h3 Cancel my account
%p
  Unhappy? #{button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, class: 'button alert', method: :delete}
= link_to 'Back', :back, class: 'button float-right'
