%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :first_name
    = f.text_field :first_name, autofocus: true
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :dietary_restriction
    = f.select :dietary_restriction, ['Vegetarian', 'Vegan', 'Allergy', 'Other'], { include_hidden: false, include_blank: 'None' }
  .field{id: 'special_instructions'}
    = f.label :special_instructions
    %i (please explain allergies or other restrictions)
    = f.text_area :special_instructions, rows: 3
  .field
    = f.label :hotel_rooms do
      %span.has-tip{'aria-haspopup' => 'true', 'data-tooltip' => '', title: 'Indicate the total number of hotel rooms for your party'}
        Hotel Rooms
    = f.number_field :hotel_rooms
  = f.fields_for :rsvps do |builder|
    .field
      = builder.label builder.object.rsvp_type
      = builder.hidden_field :rsvp_type, value: builder.object.rsvp_type
      = builder.check_box :going, class: 'hide'
      = builder.label :going, class: 'switch-paddle' do
        %span.switch-active{'aria-hidden' => 'true'} Yes
        %span.switch-inactive{'aria-hidden' => 'true'} No
  .field
    = f.label :reminders do
      %span.has-tip{'aria-haspopup' => 'true', 'data-tooltip' => '', title: "If left checked, we will send an email reminder if no rsvps have been sent a month from event"}
        Reminders
    = f.check_box :reminders, class: 'hide'
    %label.switch-paddle{for: 'user_reminders'}
      %span.switch-active{'aria-hidden' => 'true'} Yes
      %span.switch-inactive{'aria-hidden' => 'true'} No
  .field
    = f.label :email
    = f.email_field :email, autofocus: true
  .field
    = f.label :password do
      %span.has-tip{'aria-haspopup' => 'true', 'data-tooltip' => '', title: '8 characters minimum'}
        Password
    = f.password_field :password, autocomplete: 'off'
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'off'
  .field
    = f.label :invite_code do
      %span.has-tip{'aria-haspopup' => 'true', 'data-tooltip' => '', title: 'This code will be on your invitation'}
        Invite code
    = f.password_field :invite_code
  .actions.button-group
    = f.submit 'Sign up', class: 'button'
    = render 'devise/shared/links'
