%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  = render partial: 'shared/user_form', locals: {form: f}
  .row
    .large-6.small-12.columns
      .field
        = f.label :password do
          Password<small> *<small>
        = f.password_field :password, autocomplete: 'on', placeholder: '8 character minimum'
    .large-6.small-12.columns
      .field
        = f.label :password_confirmation do
          Password confirmation<small> *<small>
        = f.password_field :password_confirmation, autocomplete: 'on', placeholder: 'Must match password'
  .field
    = f.label :invite_code do
      Invite code<small> *<small>
    = f.text_field :invite_code, placeholder: 'This code will be on your invitation'
  .actions.button-group
    = f.submit 'Sign up', class: 'button'
    = render 'devise/shared/links'
