%h1= "Editing #{@user.name}"

= form_for(@user, html: { method: :put, class: 'custom' }) do |f|
  - if @user.errors.any?
    #error_explanation
      - @user.errors.full_messages.each do |error|
        %p= error
  = render partial: 'shared/user_form', locals: {form: f, resource: @user}
  .field
    = f.label :invite_code_id
    = f.select :invite_code_id, InviteCode.all.collect { |c| [ c.value, c.id ] }, { include_hidden: false }
  .actions
    = f.submit 'Save', class: 'button success float-left'

= link_to 'Back', guests_path, class: 'button float-right'
